/***
 * Laminar Documentation Styles
 *
 */
/***
 * COLORS
 */
/***
 * TEXT
 */
.normaltext {
  font-size: 1.1em;
  color: #3d3b30;
  font-family: 'Open Sans Condensed', sans-serif;
}
.shadowedtext {
  text-shadow: 0px 0px 2px #c0c0c0;
}
/***
 * BOX MODEL & LAYOUT
 */
/***
 * SHADOWS and EFFECTS
 */
.smoothtransitions {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/***
 * MENUS
 */
nav.top li,
nav.top a {
  height: 40px;
  line-height: 40px;
}
.menu {
  display: block;
  width: 90%;
  max-width: 960px;
  color: #fcfcfc;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menu a {
  text-decoration: none;
}
.menu a,
.menu a:visited {
  color: #fcfcfc;
}
.menu a:hover,
.menu a:target {
  color: #ffffff;
}
.menu-items {
  display: inline-block;
  margin: 0 50px;
  padding: 0px;
}
#sitelink {
  display: inline-block;
  margin-right: 60px;
  margin-left: 10px;
  color: #fcfcfc;
  font-weight: bold;
}
.menu-items li {
  display: inline-block;
  padding: 0 15px;
}
.menu-items li:hover {
  background-color: #e94609;
}
.show,
.hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
}
@media only screen and (max-width: 800px) {
  .menu {
    position: relative;
    width: 100%;
  }
  .sitename {
    position: absolute;
    top: 0;
    left: 15px;
    margin-left: 0px;
  }
  .menu-items {
    display: none;
    width: 100%;
    margin-top: 40px;
    background-color: #4d5061;
  }
  .menu-items li {
    display: block;
    text-align: center;
  }
  .show,
  .hide {
    position: absolute;
    top: 0;
    right: 15px;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  #menu:target .show {
    display: none;
  }
  #menu:target .hide,
  #menu:target .menu-items {
    display: inline-block;
    opacity: 0.5;
  }
}
@media only screen and (max-width: 220px) {
  .sitename,
  .show,
  .hide {
    font-size: 14px;
  }
}
/***
 * MAIN CSS
 */
body {
  font-size: 1.1em;
  color: #3d3b30;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 0px 0px 2px #c0c0c0;
  background-color: #fcfcfc;
  margin: 0px;
  margin-top: 40px;
}
nav.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 40px;
  color: #fcfcfc;
  background-color: #8491a3;
  box-shadow: 0px 1px 2px #c0c0c0;
}
.header {
  position: relative;
  width: 100%;
  text-align: center;
  background: #e94609 url(../assets/bg3.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 30px;
}
.header .button {
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 2px solid #3d3b30;
  border-radius: 5px;
  margin: 10px 20px;
  padding: 5px 10px;
  text-decoration: none;
  color: #3d3b30;
  background-color: #fcfcfc;
  opacity: 0.5;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.header .button:hover {
  color: #fcfcfc;
  background-color: #8491a3;
  border-color: #fcfcfc;
  opacity: 1;
}
.content {
  padding: 10px;
  padding-top: 0px;
}
h1 {
  font-size: 4em;
  font-family: 'Krona One', sans-serif;
  font-weight: normal;
  line-height: 2.5em;
  color: #fcfcfc;
  background-color: none;
  text-shadow: -1px -1px 1px #8491a3, 1px -1px 1px #8491a3, 1px 1px 1px #8491a3, -1px 1px 1px #8491a3;
  margin: 0px;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: #8491a3;
  background-color: none;
  text-shadow: 0px 0px 2px #c0c0c0;
}
h2 {
  border-bottom: 2px solid #8491a3;
}
h3 {
  font-size: 1.1em;
  border: none;
}
p.summary {
  color: #fcfcfc;
  font-weight: bold;
  color: #3d3b30;
  margin-bottom: 60px;
  text-shadow: 0px 0px 10px #ffffff;
}
em {
  font-family: serif;
}
pre,
.demo {
  border-radius: 4px;
  padding: 1em;
}
pre {
  color: #fcfcfc;
  background-color: #3d3b30;
  overflow-x: auto;
}
progress {
  border: 1px solid #3d3b30;
}
.demo,
.slow {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.demo {
  font-family: 'Montserrat', sans-serif;
  color: #4d5061;
  background-color: #D8C99B;
  text-shadow: 0px 0px 2px #c0c0c0;
}
.demo.wfull {
  background-color: #F79F79;
}
.demo.wmed {
  background-color: #93B7BE;
}
.demo.wsmall {
  background-color: #A5B452;
}
.demo.responsive {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.urgent {
  font-weight: bold;
  color: #e94609;
  background-color: #D8C99B;
}
.status {
  color: #4d5061;
  background-color: #f4f1d1;
}
.caption {
  font-size: .8em;
  font-style: italic;
}
.right {
  margin-left: 50%;
}
#cobject {
  color: #fcfcfc;
  background-color: #8491a3;
  text-shadow: 0px 0px 2px #c0c0c0;
}
